{% extends 'Display/youbase.html' %}
{% block content %}
    <div class="playlists">
        <h1>{{ playlist.name }}</h1>
        <script>
            function gotoVideo(videoUrl){
                window.location.href = videoUrl;
            }
        </script>
        {% for video in playlist.videos.all %}
            <div class='playlist-videos'>
                <p class="video-name" onclick="gotoVideo('{% url 'Display:show_video' video.name %}')">{{ video.name }}</p>
                <img src="{{ video.thumbnail }}" alt="thumbnail">
            </div>
        {% endfor %}
    </div>
{% endblock %}

